<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>exercise8</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">exercise8</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p>The exercise 8 are the same as exercise 7 but with:</p>
    <ol>
      <li>Text in checkboxes</li>
      <li>Using switch case</li>
      <li>Colors in text</li>
    </ol> <br>
    
    <ion-button routerLink="/exercise7">Go exercise 7</ion-button>
  </div>
</ion-content>

<ion-button id="home-button" routerLink="/"><ion-icon name="home-outline"></ion-icon> Home</ion-button>