<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1><strong>Exercises:</strong></h1>

    <ion-button routerLink="/exercise1">Exercise 1</ion-button> <br>
    <ion-button routerLink="/exercise2">Exercise 2</ion-button> <br>
    <ion-button routerLink="/exercise3">Exercise 3</ion-button> <br>
    <ion-button routerLink="/exercise4">Exercise 4</ion-button> <br>
    <ion-button routerLink="/exercise5">Exercise 5</ion-button> <br>
    <ion-button routerLink="/exercise6">Exercise 6</ion-button> <br>
    <ion-button routerLink="/exercise7">Exercise 7</ion-button> <br>
    <ion-button routerLink="/exercise8">Exercise 8</ion-button>
  </div>
</ion-content>
